body {
    margin-top: 30px;
    size: 100%;
}

.forms-body {
    max-width: 800px;
    margin: 0 auto;
}

.option {
    max-width: 400px;
    height: 200px;
    padding: 5px;
    margin: 30px auto;
    
    border-style: dashed;

    & h2 {
        margin-bottom: 10px;
    }

    & p {
        margin-bottom: 15px;
    }

    & a {
        all: unset;
    }

    & button {

        all: unset;
        padding: 10px 20px;
        

        border-style: solid;
        border-width: 2px;
        border-radius: 2px;
        border-color: rgba(0,0,0,0.6);

        &:hover {
            cursor: pointer;
            background-color: rgba(0,0,0,0.2);
        }
    }
}

.halftone {
    /* Variables */
    --halftone-size: 0.25rem;

    /* Properties */
    background-image: radial-gradient(
        circle at center,
        rgba(0,0,0,0.5) 0.02rem,
        transparent 0
    ), radial-gradient(
        circle at center,
        rgba(0,0,0,0.5) 0.02rem,
        transparent 0
    );
    background-size: 0.1rem 0.1rem;
    background-position: 0 0, 0.05rem 0.05rem;
    background-clip: border-box;
}